# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
dist
bower_components
npm-debug.log
vendor
yarn.lock

# MAC
.DS_Store
*.DS_Store
.AppleDouble
.LSOverride

# Node Package Manager
node_modules
