.reserva {
  &__wrapper {
    text-align: center;
    .reserva__cta {
      float: none;
    }
  }
  &__cta {
    background-color: $white;
    border: to-rem(2) solid $black;
    display: inline-block;
    font-family: 'Archivo Black';
    font-size: to-rem(18.71);
    letter-spacing: to-rem(0.14);
    line-height: 1;
    padding: to-rem(9) to-rem(24);
    text-transform: uppercase;
    cursor: pointer;
    @media #{$medium-up} {
      margin-right: to-rem(23);
    }
    &:hover {
	    background-color: $secondary-brand;
    }
    &::after {
      content: "";
      background-image: url("https://2020.colombia.wordcamp.org/files/2020/07/arrow-circle@2x.png");
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      height: to-rem(27);
      margin-left: to-rem(32);
      vertical-align: middle;
      width: to-rem(27);
    }
    &--pink {
      background-color: $secondary-brand;
      &:hover {
	      background-color: $white;
      }
    }
  }
}