.list {
    font-size: 1rem;
    margin-left: 0;
    list-style: none;
    li {
        font-size: 1rem;
        margin-bottom: 0.3rem;
        margin-top: 0;
        a {
            text-decoration: none;
            color: black;
            &:hover {
                color: $blue;
            }
        }
    }
    &--bold {
        font-weight: 600;
    }
}
