.main-banner {
  background: url("https://2020.colombia.wordcamp.org/files/2020/07/main-banner-bg@2x.png") #0F100E;
  background-size: contain;
  background-position: top left;
  overflow: hidden;
  @media #{$medium-up} {
    padding-top: to-rem(123);
    padding-bottom: to-rem(35);
  }
  &__right {
    position: relative;
  }
  &__title {
    font-family: 'Archivo Black';
    font-size: to-rem(84);
    line-height: 1;
    margin-bottom: to-rem(99);
    margin-top: 0ex;
    &--white {
      font-size: to-rem(54);
      color: $white;
      display: block;
      &.last {
        text-align: right;
      }
    }
    &--yellow {
      color: $brand;
    }
    &--pink {
      color: $secondary-brand;
    }
  }
  &__cta {
    background-color: $white;
    display: inline-block;
    float: right;
    font-family: 'Archivo Black';
    font-size: to-rem(18.71);
    letter-spacing: to-rem(0.14);
    line-height: 1;
    margin-right: to-rem(23);
    padding: to-rem(9) to-rem(24);
    &::after {
      content: "";
      background-image: url("https://2020.colombia.wordcamp.org/files/2020/07/arrow-circle@2x.png");
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      height: to-rem(27);
      margin-left: to-rem(32);
      vertical-align: middle;
      width: to-rem(27);
    }
  }
  &__date {
    color: $white;
    font-size: to-rem(22);
    font-weight: 600;
    letter-spacing: to-rem(0.1);
    line-height: to-rem(24);
    @media #{$medium-up} {
      left: to-rem(124);
      max-width: to-rem(126);
      position: absolute;
      text-align: center;
      top: to-rem(82);
    }
  }
  .astronaut {
    position: absolute;
    left: to-rem(43);
    top: to-rem(-102);
    animation: float 20s infinite;
    -webkit-animation: float 20s infinite; /* Chrome, Safari, Opera */
    &__image {
      max-width: to-rem(372);
    }
  }
  @keyframes float {
    0%, 100% {
      transform:translate(20px,20px);
    }
    50% {
      transform:translate(20px,50px);
    }
  }
  @-webkit-keyframes float {
    0%, 100% {
      transform:translate(20px,20px);
    }
    50% {
      transform:translate(20px,80px);
    }
  }
}

$side: 80px;
$l: 50px;
$num: 10;
$dur: 10s;

@mixin plane($w, $h) {
  width: $w;
  height: $h;
  transform-style: preserve-3d;
}

@mixin view($p) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  perspective: $p;
}

@mixin center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.view {
  @include view(400)
}

.plane {
  @include plane($side, $side);
  &.main {
    @include center;
    transform: rotateX(60deg) rotateZ(-30deg);
    animation: rotate 20s infinite linear;
    .circle {
      width: $side;
      height: $side;
      position: absolute;
      transform-style: preserve-3d;
      border-radius: 100%;
      //border: 2px solid white
      box-sizing: border-box;
      box-shadow: 0 0 60px #faf071, inset 0 0 60px #faf071;
      &::before, &::after {
        content: '';
        display: block;
        @include center;
        width: 10%;
        height: 10%;
        border-radius: 100%;
        background: #faf071;
        //border: 4px solid black
        box-sizing: border-box;
        box-shadow: 0 0 60px 2px #faf071;
      }
      &::before {
        transform: translateZ(-$l);
      }
      &::after {
        transform: translateZ($l);
      }
      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          transform: rotateZ($i / 5 * 360deg) rotateX(63.435deg);
        }
      }
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}