.main-banner {
  background: url("https://2020.colombia.wordcamp.org/files/2020/07/main-banner-bg@2x.png") #0F100E;
  background-size: contain;
  background-position: top left;
  overflow: hidden;
  padding-top: to-rem(35);
  padding-bottom: to-rem(35);
  @media #{$medium-up} {
    padding-top: to-rem(123);
    padding-bottom: to-rem(35);
  }
  &__right,
  &__left {
    position: relative;
    height: 100%;
  }
  &__title {
    font-family: 'Archivo Black';
    font-size: to-rem(42);
    line-height: 1;
    margin-bottom: to-rem(29);
    margin-top: 0ex;
    @media #{$medium-up} {
      font-size: to-rem(84);
      margin-bottom: to-rem(99);
    }
    &--white {
      font-size: to-rem(27);
      color: $white;
      display: block;
      &.last {
        text-align: right;
      }
    }
    &--yellow {
      color: $brand;
    }
    &--pink {
      color: $secondary-brand;
    }
  }
  .reserva__cta {
    margin-bottom: to-rem(20);
    @media #{$medium-up} {
      float: right;
      margin-bottom: 0;
    }
  }
  &__date {
    color: $white;
    font-size: to-rem(16);
    font-weight: 600;
    letter-spacing: to-rem(0.1);
    line-height: to-rem(24);
    text-align: center;
    @media #{$medium-up} {
      font-size: to-rem(22);
      left: to-rem(124);
      max-width: to-rem(126);
      position: absolute;
      top: to-rem(82);
    }
  }
  .asteroid__image {
    position: absolute;
    right: to-rem(-150);
    top: to-rem(-60);
    z-index: 2;
    @media #{$small-max} {
      display: none;
    }
  }
  .luna__image {
    bottom: to-rem(30);
    left: to-rem(40);
    position: absolute;
    z-index: 2;
    @media #{$small-max} {
      display: none;
    }
  }
  .rock__image {
    position: absolute;
    right: 0;
    bottom: 0;
    animation: float-zoom 100s infinite;
    -webkit-animation: float-zoom 100s infinite; /* Chrome, Safari, Opera */
  }
  .astronaut {
    position: absolute;
    left: to-rem(43);
    top: to-rem(-40);
    animation: float 20s infinite;
    -webkit-animation: float 20s infinite; /* Chrome, Safari, Opera */
    z-index: 2;
    @media #{$small-max} {
      display: none;
    }
    &__image {
      max-width: to-rem(372);
    }
  }
  @keyframes float {
    0%, 100% {
      transform:translate(20px,25px);
    }
    50% {
      transform:translate(50px,50px);
    }
  }
  @-webkit-keyframes float {
    0%, 100% {
      transform:translate(20px,25px);
    }
    50% {
      transform:translate(50px,50px);
    }
  }
  @keyframes float-zoom {
    0%, 100% {
      transform:translate(20px,25px) scale(0.1) rotate(0);
    }
    50% {
      transform:translate(0,0) scale(0.9) rotate(360deg);
    }
  }
  @-webkit-keyframes float-zoom {
    0%, 100% {
      transform:translate(20px,25px) scale(0.1) rotate(0);
    }
    50% {
      transform:translate(0,0) scale(0.9) rotate(360deg);
    }
  }
}