.menu-main-menu-container {

}
.menu {
  padding: 0;
  list-style: none;
  &-item {
    font-family: 'Archivo Black';
    font-size: 18px;
    color: #0F100E;
    letter-spacing: -0.01px;
    display: inline-block;
    margin-left: to-rem(30);
  }
}
.menu-toggle {
  display: inline-block;
  @media #{$medium-up} {
    display: none;
  }
}
.current-menu-item {
  a::after {
    content: "";
    height: to-rem(3);
    background-color: $brand;
    width: 100%;
    display: block;
  }
}
.button--box {
  background-color: #FFF56C;
  border: solid 1px #000000;
  box-shadow: 1px 0px 0px #000000, 0px -1px 0px #000000, 2px -1px 0px #000000, 1px -2px 0px #000000, 3px -2px 0px #000000, 2px -3px 0px #000000, 4px -3px 0px #000000, 3px -4px 0px #000000, 5px -4px 0px #000000, 4px -5px 0px #000000, 6px -5px 0px #000000, 5px -6px 0px #000000, 7px -6px 0px #000000, 6px -7px 0px #000000, 8px -7px 0px #000000, 7px -8px 0px #000000, 9px -8px 0px #000000, 8px -8px 0px #000000;
  font-size: to-rem(14);
  letter-spacing: to-rem(0.1);
  font-family: 'Archivo Black';
  padding: to-rem(6) to-rem(16);
  text-decoration: none;
  text-transform: uppercase;
  transition: margin-bottom 0.3s ease, margin-left 0.3s ease, box-shadow 0.3s ease;
}