
.organizadores {
  @extend .container;
	column-gap: .75rem;
  align-items: center;
  display: grid;
  flex: 1 1 auto;
  grid-template-columns: 1fr;
  position: relative;
  @media #{$medium-up} {
    grid-template-columns: repeat(4, 1fr);
  }
}
.wordcamp-post-list__post {
  background-color: #ffffff;
  border-bottom-width: 2px;
  border-radius: 4px;
  border: 1px solid #eaeaea;
  padding: 8px;
  img.avatar {
    object-fit: cover;
    height: 300px;
    display: block;
  }
}