
.organizadores {
  @extend .container;
	column-gap: .75rem;
  align-items: center;
  display: grid;
  flex: 1 1 auto;
  grid-template-columns: 1fr;
  padding-bottom: to-rem(60);
  padding-top: to-rem(50);
  position: relative;
  row-gap: 30px;
  @media #{$medium-up} {
    grid-template-columns: repeat(4, 1fr);
  }
}
.wordcamp-post-list__post {
  background-color: #ffffff;
  border-bottom-width: 2px;
  border-radius: 4px;
  border: 1px solid #eaeaea;
  padding: 8px;
  position: relative;
  img.avatar {
    object-fit: cover;
    height: 300px;
    display: block;
  }
}
.wordcamp-block__item-content.wordcamp-organizers__content.is-excerpt {
  @extend .button--box;
  bottom: 20px;
  font-family: inherit;
  font-weight: bold;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  width: 85%;
  p {
    margin: 0;
  }
}