$side: 50px;
$l: 400px;

@mixin plane($w, $h) {
  width: $w;
  height: $h;
  transform-style: preserve-3d;
}

@mixin view($p) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  perspective: $p;
}

@mixin center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.view {
  @include view(400)
}

.plane {
  @include plane($side, $side);
  @media #{$small-max} {
    display: none;
  }
  &.main {
    @include center;
    transform: rotateX(60deg) rotateZ(-30deg);
    animation: rotate 100s infinite linear;
    -webkit-animation: rotate 100s infinite linear;
    z-index: 1;
    .circle {
      width: $side;
      height: $side;
      position: absolute;
      transform-style: preserve-3d;
      border-radius: 100%;
      box-sizing: border-box;
      box-shadow: 0 0 60px #faf071, inset 0 0 60px #faf071;
      &::before, &::after {
        content: '';
        display: block;
        @include center;
        width: 10%;
        height: 10%;
        border-radius: 100%;
        background: #353220;
        box-sizing: border-box;
        box-shadow: 0 0 60px 2px #353220;
      }
      &::before {
        transform: translateZ(-$l);
      }
      &::after {
        transform: translateZ($l);
      }
      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          transform: rotateZ($i / 5 * 360deg) rotateX(63.435deg);
        }
      }
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}