.single,
.page-template-default {
 .entry {
    &-content {
      @extend .container;
      max-width: to-rem(800);
      padding-top: to-rem(30);
      padding-bottom: to-rem(40);
      @media #{$medium-up} {
        padding-top: to-rem(60);
      }
    }
  }
  .wp-post-image {
    width: auto;
    height: auto;
    display: block;
    @media #{$medium-up} {
      box-shadow: -10px 10px 0 $secondary-brand;
      height: to-rem(436);
      width: auto;
    }
  }
  .comments-area {
    @extend .container;
    max-width: to-rem(800);
    padding-bottom: to-rem(40);
    @media #{$medium-up} {
      padding-bottom: to-rem(80);
    }
  }
}
.has-post-thumbnail {
  .entry-header {
    background-color: $brand;
    padding: to-rem(30) 0;
    @media #{$medium-up} {
      padding: to-rem(60) 0;
    }
  }
  .entry-image {
    @extend .container;
    text-align: center;
  }
}
.type-wcb_sponsor.has-post-thumbnail {
  .entry-header {
    background-color: $brand;
    padding: to-rem(30) 0;
    @media #{$medium-up} {
      padding: to-rem(60) 0;
    }
  }
  .entry-image {
    text-align: center;
    max-width: to-rem(400);
    background: $white;
    padding: to-rem(30);
    @media #{$medium-up} {
      box-shadow: -10px 10px 0 $secondary-brand;
    }
    .wp-post-image {
      box-shadow: none;
      width: auto;
      height: auto;
    }
  }
}