.single,
.page {
 .entry {
    &-content {
      @extend .container;
      max-width: to-rem(800);
      padding-top: to-rem(30);
      padding-bottom: to-rem(40);
      @media #{$medium-up} {
        padding-top: to-rem(60);
      }
    }
  }
  .wp-post-image {
    width: auto;
    height: auto;
    @media #{$medium-up} {
      height: to-rem(436);
      width: auto;
    }
  }
  .comments-area {
    @extend .container;
    max-width: to-rem(800);
    padding-bottom: to-rem(40);
    @media #{$medium-up} {
      padding-bottom: to-rem(80);
    }
  }
}
.has-post-thumbnail {
  .entry-header {
      background-color: $brand;
      padding: to-rem(30) 0;
      @media #{$medium-up} {
        padding: to-rem(60) 0;
      }
    }
    .entry-image {
      @extend .container;
      text-align: center;
    }
}