$start: left;
$end: right;

//Typography
$font-family-sans-serif: "Archivo", sans-serif, "Arial", Gadget !default;
$font-family-secondary: "Archivo Black", sans-serif, "Arial", Gadget !default;
$font-family-base: $font-family-sans-serif;

$golden-ratio: 1.618;
$font-size-base: 18px;
$font-weight-base: 400;

$line-height-base: 24px;
$line-height-computed: floor($font-size-base * $line-height-base);

$spacer: 1rem;